<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Sean Becker">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/public/assets/favicon.png">
        <title>Data</title>
        <style>

        </style>
    </head>
    <body>
        <p>Total number of responses: </p>
    </body>
</html>