<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Sean Becker">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>What's Slow?</title>
        <style>
            body {
                text-align: center;
                font-family: 'Tahoma', sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                }

  

            .button {
                background-color: white;
                border: 1px solid black;
                font-family: 'Tahoma', sans-serif;
                border-radius: 8px;
                color: black;
                padding: 15px 32px;
                text-align: center;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                display: inline-flex;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }
            .button:hover {
                background-color: grey; /* Green */
                color: white;
                border: 1px solid grey;
            }
            .button:focus {
                outline:none;
            }
            footer {
                position: fixed;
                bottom: 1rem;
                right: 1rem;
                color: rgba(0,0,0,0.5)
            }
            p {
                margin: 2%;
                font-size: 4em;
                font-weight: 400;
                width: 100%;
            }
            @media screen and (max-width: 767px) {
                p {
                    font-size: 2em;
                }
                input[type=text] {
                    font-size: 2.5rem;
					min-height: 3rem;
                }
            }
        </style>
    </head>
    <body>
        <div>
            <p style="display: inherit">Which access point are you on?</p>
            <form class="btn-group" action="" method="POST" style="width: 200px; margin: 0 auto">
                <button id="btn1" name="btn" value="1E" class="button">1E</button>
                <button id="btn2" name="btn" value="1W" class="button">1W</button>
                <button id="btn3" name="btn" value="2E 2.4GHz" class="button">2E 2.4GHz</button>
                <button id="btn4" name="btn" value="2E 5GHz" class="button">2E 5GHz</button>
                <button id="btn5" name="btn" value="2W 2.4GHz" class="button">2W 2.4GHz</button>
                <button id="btn6" name="btn" value="2W 5GHz" class="button">2W 5GHz</button>
                <button id="btn7" name="btn" value="3E" class="button">3E</button>
                <button id="btn8" name="btn" value="3W" class="button">3W</button>
                <button id="btn9" name="btn" value="Great Room" class="button">Great Room</button>
                <button id="btn10" name="btn" value="Kitchen" class="button">Kitchen</button>
                <button id="btn11" name="btn" value="Study Room 2.4GHz" class="button">Study Room 2.4GHz</button>
                <button id="btn12" name="btn" value="Study Room 5GHz" class="button">Study Room 5GHz</button>
            </form>
        </div>
    </body>
    <footer>
    </footer>
</html>